.ui.grid.relaxed.basic
  .row
    .column
      .segment.ui.attached.top.inverted
        Login with facebook
      .segment.ui.attached
        = link_to image_tag('facebook.png'), '/auth/facebook'

  .row
    .column
      .segment.ui.attached.top.inverted
        Don't want to use facebook?
      .segment.ui.attached
        Contact me, I'll make an account for you, and then you can login below.

        = form_for Player.new, :url => :login, :method => :post, id: 'login-form' do |f|
          - if flash[:error]
            .error.message.ui= flash[:error]
          .form.ui
            .two.fields
              .field
                = f.label :name
                = f.text_field :name
              .field
                = f.label :password
                = f.password_field :password
              .field.inline
                = f.submit 'Login', class: 'ui button submit blue'
