- form_for nominee do |f|

  = f.label :name
  = f.text_field :name, :class => 'focus_on_load'
  %br

  = f.label :category_name, 'category'
  = text_field_tag 'nominee[category_name]', nominee.category.name
  %br

  = f.label :film_name, 'film'
  = text_field_tag 'nominee[film_name]', nominee.film.name
  %br

  = f.submit
