= div_for nominee, class: "row" do

  .ui.grid
    .row.equal.height
      .column.six.wide
        - if nominee.is_winner
          .ui.label.ribbon.green winner
        .info.ui.header.big
          = "#{nominee.film.name}"
          .sub.header
            = nominee.name

      .column.ten.wide.aligned.right.middle
        - if nominee.picks.any?
          .ui.labels
            = render nominee.picks, is_winner: nominee.is_winner
