= div_for nominee, class: "item" do

  .ui{class: nominee.is_winner ? 'segment inverted green secondary' : ''}
    .info.ui.header.big
      = "#{nominee.film.name}"
      .sub.header
        = nominee.name

    - if nominee.picks.any?
      .player-picks.ui.list.horizontal
        = render nominee.picks
