= div_for nominee, class: "row" do

  .ui.grid.middle.aligned
    .row.equal.height

      = if @edit_mode
        .column.one.wide.right.aligned
          = pick_radio_button(entry, nominee)
        .column.fifteen.wide
          = pick_input_label(entry, nominee) do
            = names_header(nominee)

      - else

        .column.eight.wide
          = winner_label(nominee) if nominee.is_winner
          = names_header(nominee)

        -# Picks
        .column.eight.wide.aligned.right.labels
          - picks_to_show(nominee.picks, contest_year).map do |pick|
            = player_label(pick.entry.player, pick_color(pick.entry.player, nominee))
