:plain
  #{link_to 'Entries', entries_path} |
  #{link_to 'New film', new_film_path} |
  #{link_to 'New category', new_category_path} |
  #{link_to 'New nom', new_nominee_path} |
  #{link_to "Picks editable?: #{admin_config.picks_editable ? 'yes' : 'no'}", toggle_picks_editable_path, :method => :put} |
