#results_summary
  %table
    %caption= 'Award winners'
    %thead
      %tr.glossy_black
        %th= 'Category'
        %th= 'Film'
        %th= 'Recipient'
    %tbody
      - @categories.each do |category|
        %tr
          %td.category= link_to category.name, "##{dom_id(category)}"
          - winner = category.winner
          %td.film= winner.try(:film).try(:name)
          %td.nominee_name= winner.try(:name)
