%h2= 'Make your picks'

%p
  You can change your picks as much as you want until the show starts.

= form_tag update_picks_path, :method => :put do

  = save_button

  = render categories

  = save_button
