%a.category-anchor{id: "#{dom_id(category)}"} asdf

.category-info.ui.segment.attached.top.black.inverted
  .ui.grid.middle.aligned
    .row
      .column.eleven.wide
        .name.ui.header= category.name.upcase
      .column.five.wide.right.aligned
        .points.ui.label.horizontal.red= pluralize(category.points, 'pt')
= div_for category, class: 'ui segment attached' do
  .nominees.ui.grid.vertically.divided
    = render category.nominees
