%a.category-anchor{id: "#{dom_id(category)}"} asdf

.category-info.ui.header.attached.top.black.inverted.large
  %span.name= category.name.upcase
  %span.points.ui.label.large.horizontal.red= pluralize(category.points, 'point')
= div_for category, class: 'ui segment attached' do
  .nominees.ui.list.divided
    = render category.nominees
