= div_for category, class: 'ui item segment' do
  .info
    .name.ui.header.large.floated.left= category.name.upcase
    .points.ui.header.floated.right.tiny
      = "#{pluralize(category.points, 'point')}"
  .nominees.ui.list.divided
    = render category.nominees
