- form_for category do |f|
  = f.label :name
  = f.text_field :name, :class => 'focus_on_load'
  %br
  = f.label :points
  = f.text_field :points, :size => 2
  %br
  = f.label :year
  = f.text_field :year, :size => 4, :value => Date.today.year
  %br
  = f.submit
