= render @category

- unless admin_config.picks_editable
  %table{:id => 'players_picks'}
    %caption= 'players\' picks'
    %thead
      %tr.glossy_black
        %th Player
        %th Pick
    %tbody
      - @picks.each do |pick|
        %tr
          %td= pick.entry.player.name
          %td
            - if nominee = pick.nominee
              = nominee.film.name
              = ':'
              = nominee.name
