!!! 5

%html{html_attrs}
  %head
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    %title= 'Oscars Madness'

  %body

    = render 'layouts/banner'

    = render 'layouts/category_nav'

    #main.ui.page.grid

      .row
        = yield
