!!! XML
!!!

%html{html_attrs}
  %head
    = stylesheet_link_tag 'screen', :cache => true
    = stylesheet_link_tag 'dark-hive/jquery-ui-1.8.9.custom.css'
    = javascript_include_tag 'jquery-1.4.4.min', 'jquery-ui-1.8.9.custom.min', 'application'
    %title= 'oscars madness!!!'

  %body

    #banner
      = link_to 'oscars madness!!!', root_path

    #logged_in_player
      - if logged_in?
        - if logged_in_player
          %div
            hi
            %span.name= logged_in_player.name
          - if logged_in_player.participating_this_year?
            = link_to 'see your picks', player_picks_path(logged_in_player)
            - if admin_config.picks_editable
              = link_to 'change your picks', player_edit_picks_path(logged_in_player)
        - elsif logged_in_as_admin?
          :plain
            #{link_to 'entries', entries_path} |
            #{link_to 'new film', new_film_path} |
            #{link_to 'new category', new_category_path} |
            #{link_to 'new nom', new_nominee_path} |

        = "#{link_to 'logout', logout_path}"
      - else
        - unless request.env['PATH_INFO'] == login_path
          = link_to 'login', login_path

    #flash
      - [:error, :notice, :warn].each do |type|
        - content_tag :div, :id => "flash_#{type}" do
          = flash[type]

    #main
      = yield

    #footer
      #contest_year_select
        :plain
          #{label_tag :contest_year, 'See other contests'}
          #{select_tag :contest_year, options_for_select(Contest.years.map { |year| [year, root_path(:contest_year => year)] }, root_path(:contest_year => contest_year)), :onchange => 'window.location = this.value'}
