!!! 5

%html{html_attrs}
  %head

    = stylesheet_link_tag    "http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.12.0/css/semantic.min.css", media: "all"
    = stylesheet_link_tag    "application", media: "all"

    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'
    = javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.12.0/javascript/semantic.min.js"
    = javascript_include_tag "application"

    %title= 'Oscars Madness'

  %body

    = render 'layouts/banner'

    = render 'layouts/category_nav'

    #main.ui.page.grid

      .row
        .column
          = yield
