!!! 5

%html{html_attrs}
  %head
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    %title= 'Oscars Madness'

  %body

    = render 'layouts/banner'

    = render 'layouts/category_nav'

    #main.ui.page.grid

      .row
        = yield

      -##footer
        -##contest_year_select
          -#:plain
            -##{label_tag :contest_year, 'See other contests'}
            -##{select_tag :contest_year, options_for_select(Contest.years.map { |year| [year, root_path(:contest_year => year)] }, root_path(:contest_year => contest_year)), :onchange => 'window.location = this.value'}
